include sideItems.pug
include customers.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/svg+xml" href="images/logo.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CRM-Dashboard
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    )
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    )
    link(rel="stylesheet" href="./css/styles.css")
    link(rel="stylesheet" href="./css/media.css")
  
  body
    header.header
      .container.main-nav
        a.logo(href="./index.html")
          svg.logo-svg(width="24" height="24")
            use(href="./images/icons.svg#setting")
          p.logo-text Dashboard
            span.logo-v v.01
        button.menu-open-btn(type="button" data-menu-open)
          svg.menu-open-icon(width="32" height="22")
            use(href="./images/icons.svg#menu-hamburger")
      
      .mob-menu.is-hidden(data-menu)
        .container
          nav.menu-nav
            ul.mob-menu-list
              +side-item('./index.html', 'key-square', 'Dashboard', false)
              +side-item('./index.html', '3d-square', 'Product', true)
              +side-item('./index.html', 'user-square', 'Customers', true)
              +side-item('./index.html', 'wallet-money', 'Income', true)
              +side-item('./index.html', 'discount-shape', 'Promote', true)
              +side-item('./index.html', 'message-question', 'Help', true)
            
          .img-wrapp
            div
              img(srcset="./images/ellipse.jpg 1x, ./images/ellipse2x.jpg 2x", src="./images/ellipse.jpg", alt="Marketing", width="42", height="42")
            .name-wrapp
              p.name-text Evano
              p.position-text Project Manager
    
    main
      .wrapper
        .side-container
          aside.side-bar
            nav
              a.logo(href="./index.html")
                svg.logo-svg(width="37" height="37")
                  use(href="./images/icons.svg#setting")
                span.logo-text Dashboard
                span v.01
              
              ul.side-list
                +side-item('./index.html', 'key-square', 'Dashboard', false)
                +side-item('./index.html', '3d-square', 'Product', true)
                +side-item('./index.html', 'user-square', 'Customers', true)
                +side-item('./index.html', 'wallet-money', 'Income', true)
                +side-item('./index.html', 'discount-shape', 'Promote', true)
                +side-item('./index.html', 'message-question', 'Help', true)
            
            .img-wrapp
              img(srcset="./images/ellipse.jpg 1x, ./images/ellipse2x.jpg 2x", src="./images/ellipse.jpg", alt="Marketing", width="42", height="42")
              .name-wrapp
                p.name-text Evano
                p.position-text Project Manager
        
        .customers-wrapp
          .container
            h1.page-title Hello Evano 👋🏼,
            .table-wrapp
              div
                h2.table-title All Customers
                p.tb-title-text Active Members
              form.search-form
                label.form-label
                  input.search-input(type="text" name="search" placeholder="Search")
                button.search-btn(type="submit")
                  svg.btn-icon(width="24" height="24")
                    use(href="./images/icons.svg#search")
              
              table.customers-table
                thead.customers-table-head
                  tr
                    th Customer Name
                    th Company
                    th Phone Number
                    th Email
                    th Country
                    th Status
                
                tbody
                  +customer('Jane Cooper', 'Microsoft', '(225) 555-0118', 'jane@microsoft.com', 'United States', 'Active')
                  +customer('Floyd Miles', 'Yahoo', '(205) 555-0100', 'floyd@yahoo.com', 'Kiribati', 'Inactive')
                  +customer('Ronald Richards', 'Adobe', '(302) 555-0107', 'ronald@adobe.com', 'Israel', 'Inactive')
                  +customer('Marvin McKinney', 'Tesla', '(252) 555-0126', 'marvin@tesla.com', 'Iran', 'Active')
                  +customer('Jerome Bell', 'Google', '(629) 555-0129', 'jerome@google.com', 'Réunion', 'Active')
                  +customer('Kathryn Murphy', 'Microsoft', '(406) 555-0120', 'kathryn@microsoft.com', 'Curaçao', 'Active')
                  +customer('Jacob Jones', 'Yahoo', '(208) 555-0112', 'jacob@yahoo.com', 'Brazil', 'Active')
                  +customer('Kristin Watson', 'Facebook', '(704) 555-0127', 'kristin@facebook.com', 'Åland Islands', 'Inactive')
              
              .table-info
                p.info-text Showing data 1 to 8 of 256K entries
                .pagination-wrapp
                  a(href="#") &lt;
                  a.active-page(href="#") 1
                  a(href="#") 2
                  a(href="#") 3
                  a(href="#") 4
                  span ...
                  a(href="#") 40
                  a(href="#") &gt;
    script(src="./js/menu.js")
